.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (min-width: 540px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 720px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1100px) {
  .container {
    max-width: 1090px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1320px;
  }
}
.primary-gradient {
  background-color: #8b11ee;
  background-image: radial-gradient(at 17% 100%, #00faaf 0, transparent 50%), radial-gradient(at 100% 0, #fb723c 0, transparent 50%);
  color: #fff;
}
.button-bg-gradient {
  background: linear-gradient(180deg, #9413f1, #560b8b);
}
.shadow-one {
  box-shadow: inset 0 8.45px 8.45px 0 rgb(214 200 221 / 23%), inset 0 -8.45px 8.45px 0 rgba(214, 200, 221, 0.251), inset 8.45px 0 8.45px 0 rgba(214, 200, 221, 0.251), inset -8.45px 0 8.45px 0 rgba(213, 200, 221, 0.251);
}
.shadow-two {
  box-shadow: inset -4px 0 8px 0 rgba(54, 54, 54, 0.6), inset 1px 0 8px 0 rgba(54, 54, 54, 0.6), inset 0 1px 8px 0 rgba(54, 54, 54, 0.6), inset 0 4px 8px 0 rgba(54, 54, 54, 0.6);
}
